/* brilliant_rose: #FF499E */
/* dogwood_rose: #D60064 */ /* ok with magnolia */
/* red_salsa: #F4364C */
/* ou_crimson_red: #880716 */
/* medium_slate_blue: #8075FF */



/* paradise_pink: #EE4266 */
/* deep_champagne: #FCD299 */
/* gold_metallic: #E2B33C */
/* magnolia: #F8F0FB */
/* [user nav background]: #DAD6FF */
/* maximum_blue_purple: #B4ADFF */
/* space_cadet: #373064 */



@font-face {
  font-family: 'MPLUS1';
  src: url('./MPLUS1-Regular.ttf') format('truetype');
}

html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'MPLUS1', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  background-image: url("goldGlitter.jpeg");
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container, .paper-container, #auth-container {
  border-radius: 3px;
  background-color: #E2B33C;
  color: #373064;
  border-left: #E2B33C solid 10px;
  border-top: #E2B33C solid 5px;
  border-right: #E2B33C solid 10px;
  border-bottom: #E2B33C solid 3px;
}

.paper-container {
  margin: 15px;
}

div.MuiPaper-root {
  background-color: #E2B33C;
}

/* --------------------------------------------------------------------------------
Buttons
-------------------------------------------------------------------------------- */

button.MuiButton-root {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 3px;
  border: #373064 3px;
  background-color: #B4ADFF;
  color: #373064;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 0.75em 0.75em 0.75em 0;
  box-shadow: 0 7px 12px rgb(0, 0, 0, 0.4);
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

button.MuiButton-root:hover {
  background-color: #D60064;
  color: #F8F0FB;
  text-shadow:
    0 0 7px #F8F0FB,
    0 0 10px #F8F0FB,
    0 0 21px #fcd299,
    0 0 42px #fcd299,
    0 0 82px #E2B33C,
    0 0 92px #E2B33C,
    0 0 102px #E2B33C,
    0 0 151px #fcd299;
  
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

/* underline when input is active */
.MuiInput-root::after {
  border-bottom: 2px solid #373064 !important;
}

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  border-radius: 3px;
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

textarea:focus, input:focus {
  color: #373064;
}

input::placeholder {
  color: #373064;
}

input, select, textarea, li {
  color: #373064  !important;
}

/* --------------------------------------------------------------------------------
Texts
-------------------------------------------------------------------------------- */

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}