@font-face {
  font-family: 'MPLUS1';
  src: url('./MPLUS1-Regular.ttf') format('truetype');
}

footer {
  display: block;
  margin-top: 80px;
  padding: 20px;
  text-align: center;
  font-family: 'MPLUS1', sans-serif;
  font-size: 0.7em;
  color: #fcd299;
  background-color: #373064;
}

#heart-left {
  color: #f4364c;
  font-size: 1.2em;
  float: left;
}

#heart-right {
  color: #f4364c;
  font-size: 1.2em;
  float: right;
}