footer {
  display: block;
  width: 100%;
  margin-top: 80px;
  padding: 20px;
  text-align: center;
  font-family: 'MPLUS1', sans-serif;
  font-size: 0.7em;
  color: #fcd299;
  background-color: #373064;
}

#heart-right, #heart-left {
  color: #f4364c;
  font-size: 1.2em;
}

#heart-left {
  float: left;
}

#heart-right {
  float: right;
}