footer {
  display: block;
  margin-top: 80px;
  padding: 20px;
  text-align: center;
  font-family: 'MPLUS1', sans-serif;
  font-size: 0.7em;
  color: #fcd299;
  background-color: #373064;
}

#footer-span {
  display: inline-block;
  width: 69%;
}

/* --------------------------------------------------------------------------------
Lil hearts
-------------------------------------------------------------------------------- */

.heart {
  color: #EE4266;
  font-size: 1.2em;
}

#footer-heart-left {
  float: left;
}

#footer-heart-right {
  float: right;
}