ul {
  background-color: #FCD299;
  color: #373064;
}

.heart-small {
  color: #f4364c;
  font-size: 0.8em;
}

.rsvp-input {
  display: inline-block;
  width: 100%;
  background-color: #FCD299;
  color: #373064 !important;
}

.rsvp-checkbox {
  color: #373064 !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #373064 !important;
}

#bummer-message, #welcome-message {
  text-align: center;
}

#rsvp-container {
  display: inline-block;
  width: 90%;
}

#rsvp-submit-btn {
  text-align: center;
}