/* rosybrown4 #8b6969 darker ##6C5151 #4E3B3B*/
/* palevioletred4 #8b475d */

@font-face {
  font-family: 'Monoton';
  src: url('./Monoton/Monoton-Regular.ttf') format('truetype');
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fcd299,
    0 0 42px #fcd299,
    0 0 82px goldenrod,
    0 0 92px goldenrod,
    0 0 102px goldenrod,
    0 0 151px #fcd299;
  }
  20%, 24%, 55% {       
    text-shadow: none;
  }
}


/* @font-face {
  font-family: 'MPLUS1';
  src: url('./MPLUS1/static/MPLUS1-SemiBold.ttf') format('truetype');
} */

/* @media screen and (max-width: 100px) {
  width: 100%;
} */

/* .container {
  width: 100%;
} */

.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #373064;
  overflow: hidden;
  /* width: 100%; */
}

/* .nav a {
  text-decoration: none;
} */

.nav-title {
  font-family: 'Monoton', sans-serif;
  font-size: 2em;
  font-weight: 100;
  color: #f4364c;
  margin-left: 1em;
  animation: flicker 7s infinite alternate; 
}

/* .navLink {
  display: inline-block;
  color: #fcd299;
  background-color: #373064;
  text-align: center;
  padding:15px 10px;
  text-decoration: none;
  font-family: 'MPLUS1', sans-serif;
  font-size: 1em;

  -- these last two make the logout button in
  -- the nav bar look like another link 
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #483F83;
} */
