@font-face {
  font-family: 'MPLUS1';
  src: url('./MPLUS1/static/MPLUS1-SemiBold.ttf') format('truetype');
}

#nav-menu {
  background-color: #373064;
  box-shadow: none;
}

.nav-icon {
  color: #fcd299;
}

.nav-icon:hover {
  color: #B4ADFF;
}

#basic-menu ul {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #DAD6FF;
  border: 5px outset #B4ADFF;
}


/* .MuiMenu-paper {
  background-color: #fcd299;
} */

#nav-menu-admin {
 border-bottom: 5px outset #B4ADFF;
 background-color: #F8F0FB;
}

.nav-link {
  color: #373064;
  text-decoration: none; /*remove underline*/
  
  /* display: inline-block;
  color: #fcd299;
  background-color: #373064;
  text-align: center;
  padding:15px 10px;
  text-decoration: none;
  font-family: 'MPLUS1', sans-serif;
  font-size: 1em; */

  /* these last two make the logout button in
  the nav bar look like another link */
  /* border: none;
  cursor: pointer;
  outline: 0; */
}
/* 
.navLink:hover {
  background-color: #483F83;
} */
